###### Requirements without Version Specifiers ######
shapely[vectorized]
descartes
astropy-healpix
dustmaps
rubin_sim
###### Requirements with Version Specifiers ######
#h5py==2.7.1
#### git packages
#git+https://github.com/lsstdesc/sn_tools.git#egg=sn_tools-v1.0.1
#git+https://github.com/lsstdesc/sn_stackers.git#egg=sn_stackers-v1.0.0
git+https://github.com/lsstdesc/sn_tools.git@dev#egg=sn_tools
git+https://github.com/lsstdesc/sn_stackers.git@master#egg=sn_stackers

